[submodule "Dependencies/BinaryTools"]
	path = Dependencies/BinaryTools
	url = https://github.com/Moneyl/BinaryTools.git
[submodule "Dependencies/zlib"]
	path = Dependencies/zlib
	url = https://github.com/madler/zlib.git
[submodule "Dependencies/tinyxml2"]
	path = Dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
